extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') Primeiro Nome:
      input#first_name.form-control(type='text' placeholder='Primeiro Nome (ex: Christian)' name='first_name' required='true' value=(undefined===author ? '' : author.first_name) )
      label(for='family_name') Sobrenome:
      input#family_name.form-control(type='text' placeholder='Sobrenome' name='family_name' required='true' value=(undefined===author ? '' : author.family_name))
    div.form-group
      label(for='date_of_birth') Data de nascimento:
      input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===author ? '' : author.date_of_birth) )
    button.btn.btn-primary(type='submit') Submeter
  if errors 
    ul
      for error in errors
        li!= error.msg